[alias]
	b = branch
	up = pull --rebase --autostash
	co = checkout
	cob = checkout -b
	mr-desc = "log --reverse origin/main..HEAD --pretty=format:'### %s: %h %n%b%n'"

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current
[user]
	email = 5805831+Nilay-Shah@users.noreply.github.com
[diff]
	algorithm = patience
[protocol]
	version = 2
[core]
	commitGraph = true
[gc]
	writeCommitGraph = true
[url "git@github.com:"]
	insteadOf = http://github.com/
	insteadOf = https://github.com/
[credential]
	helper = 
	helper = store --file /opt/dev/var/private/git_credential_store
[url "git@gitlab.com:"]
	insteadOf = http://gitlab.com
	insteadOf = https://gitlab.com
[rerere]
	enabled = true
