[alias]
	b = branch
	up = pull --rebase --autostash
	co = checkout
	cob = checkout -b

# push easily. http://stackoverflow.com/a/23918418/89484
[push]
	default = current
[user]
	email = 5805831+Nilay-Shah@users.noreply.github.com
[diff]
	algorithm = patience
[protocol]
	version = 2
[core]
	commitGraph = true
[gc]
	writeCommitGraph = true
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[credential]
	helper = 
	helper = store --file /opt/dev/var/private/git_credential_store
[url "git@gitlab.com:"]
	insteadOf = http://gitlab.com
	insteadOf = https://gitlab.com
